.App {
  text-align: center;
}

.voteImg {
  width: auto; 
  max-height: 100%;
}

.imgContainer {
  height: 700px;
}

.parentImgGallery {
  column-count: 3;
  column-gap: 5px; 
  row-gap: 5px;
}

.imgImgGallery {
  width: 100%;
  height: auto;
}